Repository RoboJackets/igvc-software, pull requests merged in 2020-01, with the labels that each got.

#573 IOP Research Doc
  documents/README.md
  documents/research/README.md
  documents/research/iop.md
Labels: type ➤ research

#624 Small fix for ground segmentation
  igvc_perception/config/pointcloud_filter.yaml
  igvc_perception/src/pointcloud_filter/fast_segment_filter/fast_segment_filter.cpp
Labels: area ➤ computer vision, type ➤ bug

#626 Firmware Refactor Design Document
  documents/design/FirmwareRefactor.md
  documents/design/README.md
Labels: area ➤ firmware, type ➤ design document

#617 Added design document for Navigation State Machine
  documents/design/navigation_state_machine/navigation_state_machine.gif
  documents/design/navigation_state_machine/navigation_state_machine.md
Labels: area ➤ path planning, type ➤ design document

#599 Design/waypoint orientation
  documents/design/waypoint_orientation.md
Labels: area ➤ path planning, type ➤ design document

#630 Feat/navigation state machine
  igvc_msgs/CMakeLists.txt
  igvc_msgs/action/NavigateWaypoint.action
  igvc_msgs/package.xml
  igvc_navigation/CMakeLists.txt
  igvc_navigation/launch/navigation_client.launch
  igvc_navigation/launch/navigation_server.launch
  igvc_navigation/launch/navigation_simulation.launch
  igvc_navigation/src/navigation_client/navigation_client.cpp
  igvc_navigation/src/navigation_client/navigation_client.h
  igvc_navigation/src/navigation_server/CMakeLists.txt
  igvc_navigation/src/navigation_server/navigation_server.cpp
  igvc_navigation/src/navigation_server/navigation_server.h
Labels: area ➤ path planning
